$bg-color: #fff;

$sidebar_a_color: #1892d1;
$red_color: #DC5863;/*#DC5863*/
$sidebar_width: 265px;
$border_color: #e8e8e8; /*#e8e8e8*/
$selected_color: $red_color;


body {
    font-family: "Helvetica Neue", Helvetica, Arial, 'Microsoft YaHei', sans-serif;
    -webkit-text-size-adjust: none;
    word-wrap:break-word;
    font-size: 14px;
    color: #333;
    line-height: 2.1;
    position: relative;
    padding: 0;
    margin: 0;
}


#sidebar {
    position: fixed;
    width: $sidebar_width;
    z-index: 2;
    top: 2px;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    text-shadow: 0 1px rgba(white, .3);
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none; // IE 10 doesn't support pointer-events
    letter-spacing: 1px;
    border-right: 1px dotted $border_color;

    /*the scrollbar*/
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-button {
        display: none;
    }
    &::-webkit-scrollbar-track {
        background: white;
    }
    &::-webkit-scrollbar-thumb {
        min-height: 1rem;
        background-color: #ccc;
        background-clip: padding-box;
        border: 3px solid white;
        border-radius: 5px;

        &:active {
            background-color: #999;
            border-width: 2px;
        }
    }


    ul{
        padding: 0;
        margin: 0;

        li{
            list-style: none;

            a{
                padding: 6px 30px;

                outline: none;
            }
        }
    }

    .level_1{

        &.file {
            a {
                font-size: 14px;
                padding: 5px 10px;
                border-bottom: 1px solid #fff;
            }
        }

        &.directory {

            a {
                font-size: 16px;
                line-height: 2.5;
                text-align: center;
                border-top: 1px solid $border_color;
                border-bottom: 1px solid $border_color;

                &:hover{
                    background: #f7f7f7;
                }


            }
        }
    }

    .level_2{

        .toc{
            line-height: 1.5;
            background: #fefcf6;

            li {

                a {
                    font-size: 12px;
                    &:before {
                        content: '> ';
                        margin-left: -0.8em;
                    }

                    &:hover, &:active, &:focus {
                        background: #f7f7f7;
                    }

                }

                li {
                    line-height: 1.3;
                    a {
                        font-size: 12px;
                        font-weight: normal;
                        padding-left: 3.0em;
                        background: none;
                        border: none;

                        &:before {
                            content: '';
                            margin-left: 0;
                        }
                    }

                    li a{
                        display: none;
                    }
                }
            }
        }
    }



    a{
        display: block;
        color: $sidebar_a_color;
        text-decoration: none;

        &:hover, &.selected{
            outline: none;
            color: darken($sidebar_a_color, 20%);
        }
    }

}

#search_bar{
    position:absolute;
    z-index: 1000;
    right:10px;
    top:-5px;
    text-align: center;
    padding: 5px 0;
    border-top: 1px solid #d1d1d1;

    input{
        width: 150px;
        padding: 3px;
        font-size: 12px;
    }
}

#main {
    position: relative;
    top: 0;
    left: 0 ;
    margin-left: $sidebar_width;
    overflow: auto;
    pointer-events: auto;
    -webkit-overflow-scrolling: touch;
}

.content_body{
    padding: 0 2.5em 3.5em 2.5em;
    line-height: 2.5;


    h1{
        font-size: 2.2em;
        color: #111;
        padding: 0 0.5em;
        background: #f4f4f4;
        margin-left: -0.5em;
    }

    h1.title{
        font-size: 2.5em;
        line-height: 1.7em;
        margin: 0.2em -0.2em -0.2em -0.2em;
        color: #111;
        background: none;
        padding: 0;
    }

    h2{
        color: #333;
        font-size: 1.7em;
        line-height: 1.25em;
        margin: 1.3em 0 0 -0.5em;
        padding: 1.5em 0.5em .5em .5em;
        overflow: hidden;
        text-shadow: 0 1px rgba(255,255,255,0.3);
        font-weight: normal;

        border-top: 1px solid $border_color;

    }

    h3{
        font-weight: bolder;
    }

    h4{
        &:before{
            content: ">"
        }
        margin-left: 0.3em;
        color: $sidebar_a_color;
    }

    a{
        color: #111;
        border-bottom: 1px dotted #111;
        text-decoration: none;
        &:hover{
            color: $red_color;
            border-bottom: 1px dotted $red_color;
        }
    }

    h2, h3, h4, h5{
        text-rendering: optimizeLegibility;
    }

}


